
.intro>.jumbotron{
    background-image: url(/images/Finalw.png);
    margin: 0px;
    height: 375px;
}


nav{
    background-color: rgb(174, 129, 77,.75);
    padding: 10px;
}

.nav-item{
    font-family: 'Josefin Sans', sans-serif;

}

.nav-link{
    color: #18272F;;
}



.sectionI h1{
    text-align: center;
    padding-left: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sectionI{
    padding-bottom: 50px;
}

.sectionR h1{
    text-align: center;
    padding-left: 35%;
    padding-top: 30px;
    padding-bottom: 10px;
}

.sectionR{
    padding-bottom: 50px;
}

.sectionH h1{
    text-align: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
}

.sectionH{
    background-color: rgb(174, 129, 77,.75);
    padding: 0px;
}

.problemSt>.jumbotron{
    background-color: rgb(232, 194, 144);
}
/* typography*/

h1{
    font-family: 'Montserrat', sans-serif;
    font-size:75px;
    font-weight:700;
    color:#18272F;
    width:541px;

}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size:40px;
    font-weight: 700;
    color:#18272F;
    text-align: start;
    padding:10px;

    

}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size:30px;
    font-weight: 400;
    color:#18272F;
    text-align: start;

}

h4{
    font-family: 'Montserrat', sans-serif;
    font-size:26px;
    font-weight: 400;
    color:#18272F;
    width:541px;
}

h5{
    font-family: 'Montserrat', sans-serif;
    font-size:30px;
    font-weight: 400;
    color:#18272F;
    text-align: center;
    padding-bottom: 20px;
}

p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight:400;
    color:#373F42;
    width:100%;
    padding-top: 10px;
}

p.light{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight:400;
    color:#EBECE9;
    line-height: 20px;
}
